%h2 Combine your keys
= form_with method: :post, class: 'form' do |form|

  .form-group.clone-target(maybe-file-input)
    %label Key part
    %input{:name => "key_parts[]"}
    %input{:type => "file", target: 'key_parts[]'}

  %button(type="button" clones='.clone-target')
    Add another key part

  %input{type: 'submit', value: 'Restore the secret'}
