.room
  %h2 Combine your keys to restore the secret
  %p To restore the secret, you (and possibly other involved people) must combine your key parts on this page.
  %p
    %span Paste or upload the key parts you own and share the URL of this "room" with those who own other parts of the secret.
    %br
    %strong Once the minimum number of required keys is shared with this room, all participants will get the secret code. 

  = form_with method: :post, class: 'form' do |form|

    .form-group.clone-target(maybe-file-input)
      %label Key part
      %input{:name => "key_parts[]"}
      %input{:type => "file", target: 'key_parts[]'}

    %button.btn.btn-secondary(type="button" clones='.clone-target')
      Add another key part

    %input.btn.btn-primary{type: 'submit', value: 'Share your key part(s) with this room'}
