.room
  %h2 Generate a new shared key
  %p
    Please note: You can either generate an arbitrary amount of keys below, which you can then manually give to other users.
  %p
    %span Alternatively, 
    %strong share the URL of this room with other users
    %span . Once you press the button below, all connected users will
    then automatically download their key. Only you will also see the secret key.

  = form_with method: :post, class: 'form generator' do |form|

    .form-group
      %label Total parts*
      %input{:name => "total_parts", :placeholder => "Generated parts, e.g. 10", :required => "", type: "number", min: 2}

    .form-group
      %label Required parts*
      %input{:name => "required_parts", :placeholder => "Required parts, e.g. 3", :required => "", type: "number", min: 2}

    %input{type: 'submit', value: 'Distribute key parts to all users in this room'}

