.room
  %h2 Generate a new shared key
  = form_with method: :post, class: 'form' do |form|

    .form-group
      %label Total parts*
      %input{:name => "total_parts", :placeholder => "Generated parts", :required => "", type: "number", min: 1}

    .form-group
      %label Required parts*
      %input{:name => "required_parts", :placeholder => "Required parts", :required => "", type: "number", min: 1}

    %input{type: 'submit', value: 'Generate key parts'}
