%h2 Generate a new shared key
= form_with method: :post, class: 'form' do |form|

  .form-group
    %label Total parts*
    %input{:name => "total_parts", :placeholder => "Generated parts", :required => ""}

  .form-group
    %label Required parts*
    %input{:name => "required_parts", :placeholder => "Required parts", :required => ""}

  %input{type: 'submit', value: 'Generate key parts'}
